[Desktop Entry]
Type=Application
Name=Indicator Bluetooth
Exec=/usr/lib/x86_64-linux-gnu/indicator-bluetooth/indicator-bluetooth-service
NoDisplay=true
StartupNotify=false
Terminal=false
X-Ubuntu-Gettext-Domain=indicator-bluetooth
